#btn--yp {
     box-sizing: content-box;
     position: fixed;
     z-index: 9;
     bottom: 1em;
     right: 1em;
     border: solid 1em transparent;
     width: 4.625em;
     height: 3.25em;
     background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/icon-yp.svg) 50%/cover content-box;
     font: 16px/ 1.25 trebuchet ms, sans-serif;
     text-indent: 200vw;
     text-shadow: none;
     filter: grayscale(1) drop-shadow(0 0 1px #e8e0e0);
     transition: .5s;
     white-space: nowrap;
}
 #btn--yp:before {
     box-sizing: inherit;
     position: absolute;
     left: 0;
     bottom: 100%;
     margin: 1em -.5em;
     padding: .5em;
     width: 100%;
     border-radius: 5px;
     background: #e8e0e0;
     color: #000;
     text-align: center;
     text-decoration: none;
     text-indent: 0vw;
     white-space: normal;
     animation: float 1s ease-in-out infinite alternate;
     content: attr(data-txt);
}
 #btn--yp:hover, #btn--yp:focus {
     outline: none;
     filter: grayscale(0) drop-shadow(0 0 1px crimson);
}
 @keyframes float {
     to {
         transform: translateY(0.75em);
    }
}
 .img {
     border: 25px solid #EDC00B;
     background-color: #DCC498;
     margin: -20px -20px -10px 5px;
     float: right;
     scale: 0.8;
     border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
     max-width: 100%;
     max-height: 100%;
     object-fit: contain;
     object-position: center;
     object-fit: fill;
}
 .reichelt {
     border: 25px solid #EDC00B;
     background-color: #DCC498;
     margin: -60px 20px -50px -40px;
     float: left;
     scale: 0.8;
     border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}
 